body {
    background-color: blanchedalmond;
}
#title {
    font-size: 80px;
    margin: 30px;
    text-align: center;
}

.box {
    text-align: center;
    margin: 40px auto;
    padding: 20px 0px 0px;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    width: 500px;
    height: auto;
    background-color: antiquewhite;
    display: block;
}


p {
    font-size: 20px;
    font-weight: bold;
}